<div class="wishlist-container" *ngIf="wishlistItems.length > 0; else emptyWishlist">
  <h2>My Wishlist</h2>
  <div class="wishlist-grid">
    <div *ngFor="let item of wishlistItems" class="wishlist-card">
      <img [src]="item.product.Images" alt="{{ item.product.title }}" class="wishlist-item-img">

      <div class="wishlist-item-info">
        <strong class="wishlist-item-title">{{ item.product.title }}</strong>
        <span class="wishlist-item-price" *ngIf="item.product.price">{{ item.product.price }} $</span>
      </div>

      <button class="wishlist-item-remove" (click)="removeFromWishlist(item.product._id)">Delete</button>
    </div>
  </div>

  <div class="wishlist-footer">
    <button class="wishlist-clear" (click)="clearWishlist()">Clear Wishlist</button>
  </div>
</div>

<ng-template #emptyWishlist>
  <p class="empty-wishlist">Your wishlist is empty</p>
</ng-template>