<body>
    <div class="container">
        <div class="auth-container">
            <h2>Reset Password</h2>
    
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <!-- New Password -->
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" formControlName="newpassword" placeholder="Enter new password"
                        [ngClass]="{ 'is-invalid': f['newpassword'].invalid && (f['newpassword'].touched || f['newpassword'].dirty) }" />
                    <small class="error" *ngIf="f['newpassword'].touched && f['newpassword'].errors?.['required']">
                        Password is required
                    </small>
                    <small class="error" *ngIf="f['newpassword'].dirty && f['newpassword'].errors?.['minlength']">
                        At least 8 characters
                    </small>
                    <small class="error" *ngIf="f['newpassword'].dirty && f['newpassword'].errors?.['pattern']">
                        Must include uppercase, lowercase, number & special char
                    </small>
                </div>
    
                <!-- Confirm Password -->
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm password"
                        [ngClass]="{ 'is-invalid': f['confirmPassword'].invalid && (f['confirmPassword'].touched || f['confirmPassword'].dirty) }" />
                    <small class="error" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors?.['required']">
                        Confirm password is required
                    </small>
                    <small class="error" *ngIf="f['confirmPassword'].dirty && resetForm.errors?.['passwordMismatch']">
                        Passwords do not match.
                    </small>
                </div>
    
                <button type="submit" [disabled]="resetForm.invalid">
                    Update Password
                </button>
            </form>
    
            <p class="success" *ngIf="message">{{ message }}</p>
            <p class="error global" *ngIf="error">{{ error }}</p>
        </div>
    </div>

</body>