<div class="container my-5">
    <h2 class="category-title">Category: {{ categoryName }}</h2>
    <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let product of products">
            <div class="product-card">
                <div class="product-image">
                    <img [src]="product.Images || 'assets/no-image.png'" alt="{{ product.title }}">
                </div>
                <div class="product-content">
                    <h5 class="product-title">{{ product.title }}</h5>
                    <p class="product-description">{{ product.description | slice:0:60 }}...</p>
                    <p class="product-price"><strong>Price:</strong> {{ product.price }} $</p>
                    <button class="btn btn-primary w-100" [routerLink]="['/products', product.slug]">View
                        Details</button>
                </div>
            </div>
        </div>
    </div>
</div>