<div class="dashboard-container">
  <aside class="sidebar">
    <h2>⚙ Admin Dashboard</h2>

    <ul>
      <li><a routerLink="/admin/dashboard/products" routerLinkActive="active">📦 Products</a></li>
      <li><a routerLink="/admin/dashboard/users" routerLinkActive="active">👥 Users</a></li>
      <li><a routerLink="/admin/dashboard/orders" routerLinkActive="active">🛒 Orders</a></li>
      <li><a routerLink="/admin/dashboard/approved" routerLinkActive="active">✅ Approved</a></li>
      <li><a routerLink="/admin/dashboard/add-product" routerLinkActive="active">➕ Add Product</a></li>
    </ul>
  </aside>
</div>