<div class="container">
  <h2>Users</h2>

  <div *ngFor="let u of users" class="user-card">
    <div class="user-info">
      <span class="label">Username:</span>
      <input [(ngModel)]="u.username" />
    </div>

    <div class="user-info">
      <span class="label">Email:</span>
      <span>{{ u.email }}</span>
    </div>

    <div class="user-info">
      <span class="label">Role:</span>
      <span>{{ u.role }}</span>
    </div>

    <div class="actions">
      <button class="update" (click)="updateUser(u)">Save</button>
      <button class="delete" (click)="deleteUser(u._id)">Delete</button>
    </div>

    <div *ngIf="u.message" class="message" [ngClass]="u.messageType">
      {{ u.message }}
    </div>


    <div *ngIf="u.deleteMessage" class="message" [ngClass]="u.deleteMessageType">
      {{ u.deleteMessage }}
    </div>
  </div>
</div>
