<div class="cart-container" *ngIf="cartItems.length > 0; else emptyCart">
  <h2>My Cart</h2>
  <div class="cart-grid">
    <div *ngFor="let item of cartItems" class="cart-card">
      <img [src]="item.product.Images" alt="{{ item.product.title }}" class="cart-item-img">

      <div class="cart-item-info">
        <strong class="cart-item-title">{{ item.product.title }}</strong>
        <p class="cart-item-price">{{ (item.product.price * item.quantity) | number:'1.2-2' }}$</p>

        <div class="cart-quantity">
          <button (click)="decreaseQuantity(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQuantity(item)">+</button>
        </div>

        <button class="cart-item-remove" (click)="removeFromCart(item.product._id)">
          <i class="fa-solid fa-trash"></i> Remove
        </button>
      </div>
    </div>
  </div>

  <div class="cart-footer">
    <p class="cart-total">Total: {{ getTotalPrice() | number:'1.2-2' }}$</p>
    <div class="cart-footer-buttons">
      <button class="cart-clear" (click)="clearCart()">Delete All</button>
      <button class="cart-add-order" (click)="goToOrders()">Add Order</button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <p class="empty-cart">Cart is empty</p>
</ng-template>