<div *ngIf="myOrder?.length" class="container mt-4">
  <div *ngFor="let order of myOrder" class="card shadow-lg border-0 mb-4">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
   <h2>Order Details</h2>
<button class="btn btn-light btn-sm" (click)="getInvoice(order._id)">🧾 View Invoice</button>
    </div>
    <div class="card-body">
      <p><strong>User:</strong> {{ order.user.username }} </p>
      <p><strong>Payment Method:</strong> {{ order.paymentMethodType }}</p>
      <p><strong>Payment Status:</strong> {{ order.paymentStatus }}</p>
      <p><strong>Delivered:</strong> {{ order.isDelivered ? 'Yes' : 'No' }}</p>
      <p><strong>Total Price:</strong> {{ order.totalOrderPrice*50 | currency }} </p>

      <h4>Items</h4>
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items">
            <td>{{ item.product.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price*50 | currency }}</td>
          </tr>
        </tbody>
      </table>

      <div class="text-end mt-3">
        <button class="btn btn-danger" (click)="deleteOrder(order._id)">Delete Order</button>
      </div>
    </div>
  </div>
</div>
